body {
    background-color: #ffefb3;
    font-family: 'Consolas', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #013e37;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    display: inline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.formContainer {
    text-align: center;
    border: 1px solid #013e37;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
    margin-right: 20px;
}

label {
    color: #013e37;
    font-size: 14px;
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #013e37;
    background-color: #fff8dc;
    color: #013e37;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #013e37;
    color: #ffefb3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

button:hover {
    background-color: #07564a;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #013e37;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #013e37;
    color: #ffefb3;
}

td {
    color: #013e37;
}

.delete-btn {
    background-color: #ffefb3;
    color: #013e37;
    border: 1px solid #013e37;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.delete-btn:hover {
    background-color: #013e37;
    color: #ffefb3;
}

#productsTable tbody tr:hover {
    background-color: #fff8dc;
}